HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/
*.jar
/src/main/resources/spotbugs/output/spotbugs.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Special ###
/src/main/resources/application-local.*
src/test/resources/private.p12
src/test/resources/private.p12

### Gradle ###
/.gradle/
/build/
