@use '@irs/df-common/src/styles/uswds-theme' as *;

.checklist-subcategory {
  margin: units(1) 0;
}

.checklist-link {
  text-decoration: none;
  color: color('base-darkest');
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.with-button {
  margin-right: units(0.5);
}

.checklist-content {
  padding: 0;
  margin-left: units(-1.5);
  width: 100%;
}

.checklist-content__heading {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  margin: 0;

  @include at-media('mobile-lg') {
    flex-direction: row;
    justify-content: space-between;
  }

  :global {
    .usa-button {
      margin-top: units(2);
      margin-right: 0;
      width: auto;

      @include at-media('mobile-lg') {
        margin-top: 0;
      }
    }

    .usa-icon {
      display: block;
      align-self: flex-end;
      margin: units(-0.5) 0;
      position: static;
    }
  }
}

.checklist-locked {
  color: color('gray-cool-50');
}

.checklist-subsection-content {
  line-height: units(3);
}
