@forward '@irs/df-common/src/styles';
@use '@irs/df-common/src/styles/uswds-theme' as *;

#main:focus {
  outline: none;
}

/* USWDS doesn't add default styling to readonly fields, so we have to manually specify */
.usa-input {
  &:read-only,
  &[aria-readonly='true'] {
    @include u-disabled;
    @include u-disabled-high-contrast-border;

    // Fix for Safari
    -webkit-text-fill-color: color('disabled-dark');
  }
}

/* Set up buttons to support icons */
.usa-button {
  line-height: line-height('body', 2);
}

.usa-button:has(.usa-icon),
.usa-button:has([class*='loading-indicator']) {
  align-items: center;
  display: inline-flex;
  justify-content: center;

  .usa-icon {
    flex-shrink: 0;
  }
}

// Negative margins keep height equal to buttons without icons
.usa-button__icon-left,
.usa-button__icon-right {
  margin-top: units(-1);
  margin-bottom: units(-1);
}

.usa-button__icon-left {
  margin-right: units('05');
  margin-left: units(-1);
}

.usa-button__icon-right {
  margin-right: units(-1);
  margin-left: units('05');
}

.usa-button.screen__back-button {
  justify-content: flex-start;
}

/* Disabled button, but allows focus to remain on button to prevent JAWS from announcing `document` title */
.usa-button--disabled {
  @include button-disabled;

  // Prevent clicking
  pointer-events: none;
}

.usa-alert .usa-alert__heading {
  background-color: transparent;
  line-height: line-height('heading', 2);
}

.usa-alert--slim .usa-alert__heading {
  font-size: font-size($theme-body-font-family, $theme-body-font-size);
  line-height: line-height('heading', 3);
}

.usa-alert--emergency {
  border-left-color: color('red-warm-50v');
  background-color: color('red-warm-50v');
}

.usa-alert--emergency .usa-alert__body {
  @include alert-status-body-styles('emergency', 'report');

  background-color: color('red-warm-50v');
  font-size: size('body', 6);
}

.usa-alert--emergency a {
  color: color('white');
}

.screen__actions {
  border-top: units('2px') solid color('base-lighter');
  padding-top: units(4);
}

.screen__actions--no-border {
  border-top: 0;
  padding-top: 0;
}

.screen__page-actions {
  margin-top: units(4);
}

.usa-card:last-child {
  margin-bottom: 0;
}

// USWDS secondary button, outline styles
$button-stroke: inset 0 0 0 units($theme-button-stroke-width);

.usa-button--secondary.usa-button--outline {
  background-color: transparent;
  color: color('secondary');
  box-shadow: $button-stroke color('secondary');

  &:hover {
    color: color('secondary-dark');
    box-shadow: $button-stroke color('secondary-dark');
  }

  &:active {
    color: color('secondary-darker');
    box-shadow: $button-stroke color('secondary-darker');
  }
}

.sr-firefox-fix {
  right: -999em; /* stylelint-disable-line */ // disabling this check to mirror USWDS style exactly
  left: revert;
}
