<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internal Revenue Service</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <table role="presentation" class="layout">
      <tr>
        <td>
          <table role="presentation" class="header">
            <tr>
              <td>
                <img src="cid:Logo" width="104" height="35" alt="IRS Logo" />
              </td>
              <td>
                <span>Direct File</span>
              </td>
            </tr>
          </table>
          <table role="presentation" class="body">
            <tr>
              <td>
                <h1>
                  Tu declaración de impuestos federales del 2024 fue aceptada
                </h1>
                <h2>¿Qué debo hacer ahora?</h2>
                <p>
                  <strong>Si se te debe un reembolso</strong>, deberías
                  recibirlo dentro de 21 días a través del método de pago que
                  elegiste: ya sea por depósito directo o por correo. Un
                  reembolso
                  <a
                    href="https://www.irs.gov/es/refunds/tax-season-refund-frequently-asked-questions#Han%20pasado%20más%20de%2021%20días%20desde%20que%20el%20IRS%20recibió%20mi%20declaración%20y%20no%20he%20recibido%20mi%20reembolso.%20¿Por%20qué?"
                    >puede tardar más de 21 días</a
                  >
                  y puedes
                  <a href="https://www.irs.gov/es/refunds"
                    >verificar el estado de tu reembolso</a
                  >
                  24 horas después de que el IRS reciba tu declaración de
                  impuestos.
                </p>
                <p>
                  <strong
                    >Si tienes que pagar un saldo de impuestos federales</strong
                  >, y programaste tu pago mediante transferencia electrónica de
                  fondos, la transferencia ocurrirá el día que programaste. Si
                  tienes un saldo de impuestos federales que pagar y no
                  programaste tu pago, tendrás que hacer el pago para la fecha
                  límite de la declaración de impuestos federales (el 15 de
                  abril o el 17 de abril para residentes de Massachusetts)
                  <a href="https://www.irs.gov/es/payments"
                    >usando una de estas opciones de pago</a
                  >.
                </p>
                <p>
                  <strong
                    >Si ya pasó la fecha límite para declarar los impuestos
                    federales</strong
                  >
                  y no programaste un pago, haz tu pago lo antes posible para
                  evitar multas.
                </p>
                <strong>Ingresa a Direct File para:</strong>
                <ul>
                  <li>
                    Descargar tu declaración de impuestos federales aceptada
                    (Formulario 1040, PDF)
                  </li>
                  <li>Revisar los detalles de tu reembolso o pago</li>
                  <li>
                    Chatea en línea con la asistencia al cliente de Direct File
                    (disponible hasta el 20 de abril)
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="button-row">
                <a class="button" href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=approved&utm_id=directfile">
                  <span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ingresar a Direct File
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <h2>No olvides los impuestos y créditos estatales</h2>
                <p>
                  Dependiendo de tu situación, podrías tener que presentar una
                  declaración del impuesto estatal además de tu declaración del
                  impuesto federal. También podrías ser elegible para créditos
                  tributarios estatales.
                  <a href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=approved&utm_id=directfile"
                    >Ingresar a Direct File</a
                  >
                  para obtener más detalles sobre los impuestos y créditos
                  estatales.
                </p>
                <p>
                  <strong
                    >La fecha límite para declarar impuestos estatales es el 15
                    de abril a las 11:59 PM en tu zona horaria (o el 17 de abril
                    a las 11:59 para residentes de Massachusetts).</strong
                  >
                </p>
                <p>
                  Aun si la fecha límite ya pasó, todavía debes declarar tus
                  impuestos estatales lo antes posible para evitar multas.
                </p>
                <h2>¿Necesitas ayuda?</h2>
                <p>
                  <a href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=approved&utm_id=directfile"
                    >Ingresa a Direct File</a
                  >
                  para chatear en línea con asistencia al cliente (disponible
                  hasta el 20 de abril).
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
