<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internal Revenue Service</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <table role="presentation" class="layout">
      <tr>
        <td>
          <table role="presentation" class="header">
            <tr>
              <td>
                <img src="cid:Logo" width="104" height="35" alt="IRS Logo" />
              </td>
              <td>
                <span>Direct File</span>
              </td>
            </tr>
          </table>
          <table role="presentation" class="body">
            <tr>
              <td>
                <h1>
                  Tu declaración de impuestos federales del 2024 fue rechazada
                  por el IRS
                </h1>
                <h2>¿Qué debo hacer ahora?</h2>
                <p>
                  Ingresa a Direct File para revisar tu declaración rechazada y
                  conocer lo próximo que debes hacer.
                </p>
              </td>
            </tr>
            <tr>
              <td class="button-row">
                <a class="button" href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=rejected&utm_id=directfile">
                  <span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ingresar a Direct File
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  La fecha límite para reenviar tus impuestos federales con
                  Direct File es el 20 de abril del 2024 a las 11:59 PM en tu
                  zona horaria. Luego del 20 de abril, tendrás que
                  <a href="https://www.irs.gov/es/filing/e-file-options"
                    >encontrar otra manera de presentar tus impuestos.</a
                  >
                </p>
                <h2>No olvides los impuestos y créditos estatales</h2>
                <p>
                  Dependiendo de tu situación, podrías tener que presentar una
                  declaración del impuesto estatal además de tu declaración del
                  impuesto federal. También podrías calificar para créditos
                  tributarios estatales. 
                  <a href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=rejected&utm_id=directfile"
                    >Ingresar a Direct File</a
                  >
                  para obtener más detalles.
                </p>
                <h2>¿Necesitas ayuda?</h2>
                <p>
                  <a href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=rejected&utm_id=directfile"
                    >Ingresa a Direct File</a
                  >
                  para chatear en línea con asistencia al cliente (disponible
                  hasta el 20 de abril).
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
