<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internal Revenue Service</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <table role="presentation" class="layout">
      <tr>
        <td>
          <table role="presentation" class="header">
            <tr>
              <td>
                <img src="cid:Logo" width="104" height="35" alt="IRS Logo" />
              </td>
              <td>
                <span>Direct File</span>
              </td>
            </tr>
          </table>
          <table role="presentation" class="body">
            <tr>
              <td>
                <h1>Reenvía tu declaración del impuesto federal rechazada</h1>
                <p>
                  Enviaste una declaración del impuesto federal con Direct File,
                  pero el IRS rechazó tu declaración.
                </p>
                <p>
                  Si ya la reenviaste o encontraste otra forma de enviarla y el
                  IRS la aceptó, no necesitas hacer nada más.
                </p>
                <p>
                  <strong
                    >La fecha límite para reenviar tu declaración con Direct
                    File es el 20 de abril del 2024 a las 11.59 PM.</strong
                  >
                  Después del 20 de abril,
                  <a href="https://www.irs.gov/es/filing/e-file-options"
                    >necesitarás otra forma de enviar tu declaración.</a
                  >
                </p>
                <h2>Cómo reenviar</h2>
                <p>
                  Inicia tu sesión en Direct File para revisar tu declaración
                  rechazada y conocer qué hacer ahora. Si tienes preguntas o
                  necesitas asistencia, chatea con un representante de
                  asistencia al cliente de Direct File desde tu tablero.
                </p>
              </td>
            </tr>
            <tr>
              <td class="button-row">
                <a class="button" href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=reminder_resubmit&utm_id=directfile">
                  <span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Inicia tu sesión en Direct
                    File &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <h2>¿Qué pasa si necesito más tiempo?</h2>
                <p>
                  Puedes
                  <a
                    href="https://www.irs.gov/es/forms-pubs/extension-of-time-to-file-your-tax-return"
                    >aplicar a una extensión</a
                  >
                  hasta el 15 de abril (o hasta el 17 de abril para residentes
                  de Masachusets). No podrás usar Direct File para enviar una
                  extensión.
                </p>
                <p>
                  <strong
                    >No puedes usar Direct File si tienes una extensión o
                    planeas enviar tu declaración después de la fecha límite
                    federal para enviar declaraciones.</strong
                  >
                  Necesitarás
                  <a href="https://www.irs.gov/es/filing/e-file-options"
                    >encontrar otra forma de enviar tu declaración del impuesto
                    federal.</a
                  >
                  Recuerda que aún si tienes una extensión para enviar tu
                  declaración, necesitas pagar los impuestos que debes antes de
                  la fecha límite para evitar penalidades.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
