<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internal Revenue Service</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <table role="presentation" class="layout">
      <tr>
        <td>
          <table role="presentation" class="header">
            <tr>
              <td>
                <img src="cid:Logo" width="104" height="35" alt="IRS Logo" />
              </td>
              <td>
                <span>Direct File</span>
              </td>
            </tr>
          </table>
          <table role="presentation" class="body">
            <tr>
              <td>
                <h1>Submit your 2024 federal tax return by April 15</h1>
                <p>
                  You started a federal tax return using Direct File but didn't
                  finish it.
                </p>
                <p>
                  If you already resubmitted or filed another way and the IRS
                  accepted your federal tax return, you don't need to do
                  anything.
                </p>
                <p>
                  <strong
                    >April 15 at 11:59 PM in your time zone (or April 17 at
                    11:59 PM for Massachusetts residents) is the federal tax
                    filing deadline.</strong
                  >
                  This is also the last day to use Direct File for this filing
                  season. Sign in to Direct File to continue your federal tax
                  return and submit before the deadline.
                </p>
              </td>
            </tr>
            <tr>
              <td class="button-row">
                <a class="button" href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=reminder_submit&utm_id=directfile">
                  <span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sign in to Direct File
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <h2>What if I need more time?</h2>
                <p>
                  You can
                  <a
                    href="https://www.irs.gov/forms-pubs/extension-of-time-to-file-your-tax-return"
                    >apply for an extension</a
                  >
                  by April 15 (or April 17 for Massachusetts residents). You
                  won't be able to use Direct File to file an extension. 
                </p>
                <p>
                  <strong
                    >If you have an extension or plan to file after the federal
                    tax filing deadline, you can't use Direct File.</strong
                  >
                  You'll need to
                  <a href="https://www.irs.gov/filing/e-file-options"
                    >find another way to file your federal taxes.</a
                  >
                  Remember, even if you have an extension to file your taxes,
                  you still need to pay your taxes by the due date to avoid
                  penalties. 
                </p>
                <h2>Don't forget about state taxes and credits</h2>
                <p>
                  Depending on your situation, you may have to file a state tax
                  return in addition to a federal tax return. You may also be
                  eligible for state tax credits.
                </p>
                <p>
                  Keep due dates for state tax returns in mind. Some state tax
                  filing tools may not allow you to electronically file your
                  state tax return until your federal tax return has been
                  accepted. 
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
