<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internal Revenue Service</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <table role="presentation" class="layout">
      <tr>
        <td>
          <table role="presentation" class="header">
            <tr>
              <td>
                <img src="cid:Logo" width="104" height="35" alt="IRS Logo" />
              </td>
              <td>
                <span>Direct File</span>
              </td>
            </tr>
          </table>
          <table role="presentation" class="body">
            <tr>
              <td>
                <h1>
                  Tu declaración de impuestos federales del 2024 fue enviada
                </h1>
                <h2>¿Qué debo hacer ahora?</h2>
                <p>
                  Recibirás un email de parte de Direct File cuando tu
                  declaración del impuesto federal haya sido tramitada y
                  aceptada o rechazada. Podría demorar hasta una hora tramitar
                  tu declaración del impuesto federal.
                </p>
                <ul>
                  <li>
                    Si tu declaración del impuesto federal es
                    <strong>aceptada</strong>, recibirás instrucciones para
                    pagar tu saldo de los impuestos o verificar el estatus de tu
                    reembolso
                  </li>
                  <li>
                    Si tu declaración del impuesto federal es
                    <strong>rechazada</strong>, recibirás instrucciones sobre
                    cómo arreglar tu declaración y enviarla otra vez, o para
                    encontrar otras maneras de presentar tu declaración de
                    impuestos
                  </li>
                </ul>
                <p>
                  Para obtener ayuda, ingresa a Direct File y chatea en línea
                  con asistencia al cliente (disponible hasta el 20 de abril).
                </p>
              </td>
            </tr>
            <tr>
              <td class="button-row">
                <a class="button" href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=submitted&utm_id=directfile&utm_id=directfile">
                  <span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Ingresar a Direct File
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <h2>No olvides los impuestos y créditos estatales</h2>
                <p>
                  Dependiendo de tu situación, podrías tener que presentar una
                  declaración del impuesto estatal además de tu declaración del
                  impuesto federal. También podrías ser elegible para créditos
                  tributarios estatales. 
                  <a href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=submitted&utm_id=directfile"
                    >Ingresar a Direct File</a
                  >
                  para obtener más detalles.
                </p>
                <p>
                  <strong
                    >La fecha límite para declarar impuestos estatales es el 15
                    de abril a las 11:59 PM en tu zona horaria (o el 17 de abril
                    a las 11:59 para residentes de Massachusetts).</strong
                  >
                </p>
                <p>
                  Aun si la fecha límite ya pasó, todavía debes declarar tus
                  impuestos estatales lo antes posible para evitar multas.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
