@use '@irs/df-common/src/styles/uswds-theme' as *;

.df-big-content {
  margin-bottom: units(2);
  padding: units(3) units(3);
  background-color: color($theme-summary-box-background-color);
  border: units($theme-summary-box-border-width) color($theme-summary-box-border-color) solid;
  display: flex;
  justify-content: center;

  @include at-media('tablet') {
    display: inline-flex;
    padding-left: units(15);
    padding-right: units(15);
  }

  p {
    font-size: size('ui', 'xl');
  }
}
