@use '@irs/df-common/src/styles/uswds-theme' as *;

#main:focus {
  outline: none;
}

h1 {
  font-weight: font-weight('semibold');
}

.usa-step-indicator__heading-text.usa-step-indicator__heading-text {
  color: color($theme-step-indicator-segment-color-current);
}

.site-subheader {
  background-color: color('base-lightest');
  font-weight: font-weight('semibold');
}

.site-subheader--mobile {
  padding: units(0.5) units(2);
  @include at-media('tablet') {
    display: none;
  }
}

.site-subheader--desktop {
  @include u-radius('md');

  margin: units(-2) units(-0.5) units(2);
  padding: units(0.5) units(2);

  @include at-media-max('tablet') {
    display: none;
  }
}

/* styles specific to the landing page */
#splash {
  font-family: family('sans');
  font-weight: font-weight('normal');
  font-size: size('sans', $theme-body-font-size);
  line-height: line-height('sans', 4);
  text-wrap: pretty;
  word-break: break-word;

  strong {
    font-weight: font-weight('semibold');
  }

  h1 {
    font-size: size('sans', 14);
    line-height: line-height('sans', 2);
    padding: 0;
    margin: 0;

    strong {
      font-weight: font-weight('bold');
    }
  }

  h2 {
    font-size: size('sans', 10);
    line-height: line-height('sans', 2);
    font-weight: font-weight('semibold');
    padding: 0;
    margin: 0;
  }

  .usa-icon-list__item {
    padding: 0;
  }

  // line up the two columns of checkboxes
  .usa-icon-list__item:nth-child(1),
  .usa-icon-list__item:nth-child(2) {
    padding: 0 0 units(1) 0;
  }

  section {
    padding: units(4) 0;

    // make the page content a little narrower on desktop
    & > .grid-container {
      max-width: 55rem;
    }

    a:not(.usa-button) {
      @include typeset-link;
    }
  }

  section:nth-child(even) {
    background-color: color($theme-color-accent-cool-lighter);
  }

  @include at-media('tablet') {
    font-size: size('sans', 9);

    h1 {
      font-size: size('sans', 16);
    }

    h2 {
      font-size: size('sans', 13);
    }

    section {
      padding: units(7) 0;
    }
  }
}

#welcome {
  .lead-in {
    font-size: size('sans', 10);
    line-height: line-height('sans', 3);
    margin: units(2) 0;

    @include at-media('tablet') {
      font-size: size('sans', 11);
      margin: units(3) 0;
    }
  }

  .usa-icon-list {
    max-width: 30rem;

    .usa-icon {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: units('neg-2px');

      @include at-media('tablet') {
        margin-top: units('neg-2px');
      }
    }
  }

  .usa-icon-list__content {
    font-size: size('sans', 9);
    line-height: line-height('sans', 3);

    @include at-media('tablet') {
      font-size: size('sans', 10);
      margin-top: units(-0.5);
    }

    @include at-media('desktop') {
      font-size: size('sans', 9);
    }
  }

  p.body {
    margin: units(3) 0;

    @include at-media('tablet') {
      font-size: size('sans', 9);
      margin: units(4) 0 units(3);
    }
    @include at-media('mobile') {
      margin-left: units(1);
      margin-top: units(4);
    }
  }

  p.last {
    margin: units(2) 0 units(-1);

    @include at-media('tablet') {
      font-size: size('sans', 9);
      margin: units(3) 0 0;
    }
  }
}

#about,
#call-to-action {
  p {
    margin: units(2) 0 0;

    @include at-media('tablet') {
      margin: units(4) 0 0;
    }
  }

  .content-container {
    @include at-media('tablet') {
      column-gap: units(7);
    }

    @include at-media-max('tablet') {
      // change the layout to stacked on mobile
      flex-direction: column;
    }
  }
}

#benefits {
  .container {
    display: flex;
    flex-direction: row;
    @include at-media-max('tablet') {
      display: flex;
      flex-direction: row;
    }
  }

  .feature-list {
    display: flex;
    flex-direction: row;
    row-gap: units(4);
    margin: units(5) 0 units(2);

    p {
      margin: 0;
    }

    @include at-media('tablet') {
      p {
        margin: 0;
      }
    }

    @include at-media-max('tablet') {
      // change the layout to stacked on mobile
      flex-direction: column;
      margin-bottom: units(2);

      & > .grid-col {
        display: flex;
        flex-flow: row wrap;

        // graphic takes up less space
        :nth-child(1) {
          flex: 3 0 0;
        }

        // paragraph takes up more space
        :nth-last-child(1) {
          flex: 7 0 0;
        }
      }
    }
  }
}

#more-benefits {
  .faq {
    column-gap: units(4);
  }

  .usa-accordion {
    margin: units(2) 0 0;
  }

  @include at-media('tablet') {
    .usa-accordion {
      margin: units(4) 0 0;
    }
  }

  @include at-media-max('tablet') {
    // change the layout to stacked on mobile
    .faq {
      flex-direction: column;
    }
  }
}

.hidden-on-mobile {
  @include at-media-max('tablet') {
    display: none;
  }
}

/* Make "placeholder" links visually obvious.
 * Use as `<a href="TODO">Your feedback</a> */
a[href$='TODO'] {
  background-color: yellow;
}
