@use '@irs/df-common/src/styles/uswds-theme' as *;

.section-review-list {
  counter-reset: list;
  list-style: none;
  padding-left: 0;
}

.section-review-item {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: units(6);

  &::before {
    content: counter(list, numeric) ') ';
    counter-increment: list;
    display: inline;
    font-size: font-size($theme-body-font-family, $theme-body-font-size);
    font-weight: font-weight('bold');
    margin-right: units(1);
  }

  .section-review__heading {
    font-size: font-size($theme-body-font-family, $theme-body-font-size);
    font-weight: font-weight('bold');
  }
}

.subcategory-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.subcategory-row {
  border-top: 2px solid color('base-lighter');
  margin: 0;
  padding: units(2) 0;

  &:last-child {
    border-bottom: 2px solid color('base-lighter');
  }

  .subcategory-review-link:visited {
    color: color($theme-link-color);
  }
}

.subcategory-row__header {
  @include at-media('mobile') {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }
}

.subcategory-row__heading {
  font-weight: font-weight('normal');
  margin: 0 units(2) 0 0;
}
