@use '@irs/df-common/src/styles/uswds-theme' as *;

.stacked-button-group {
  margin-top: units(3);

  button,
  a {
    width: auto;
    text-align: center;
    display: block;
    margin: 0 auto;
  }

  button,
  a:not(:first-child) {
    margin-top: units(3);
  }
}
