td.button-row {
  text-align: center;
  padding: 16px 0;
}

a.button {
  background-color: #00599c;
  border: solid 12px #00599c;
  white-space: nowrap;
}

a.button,
a.button:active,
a.button:focus,
a.button:hover,
a.button:visited {
  color: #ffffff;
  text-decoration: none;
}

table.button:hover,
a.button:hover {
  background-color: #002d62 !important;
  border-color: #002d62 !important;
}

body {
  background-color: #ffffff;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  mso-line-height-rule: exactly;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

table.layout {
  max-width: 640px;
}

table.layout h1 {
  font-size: 28px;
}

table.layout > tr > td {
  padding: 24px;
}

table.header tr {
  vertical-align: middle;
  height: 35px;
}

table.header td:first-of-type {
    padding-right: 6px;
}

table.header td > img {
    width: 103px;
    height: 35px;
    padding: 0;
    margin: 0;
}

table.header td > span {
  font-weight: 600;
  font-size: 32px;
}

table.header td ~ td {
  border-left: solid 1px #000000;
  padding-left: 6px;
}

table.body {
  padding-top: 24px;
}

table.body li ~ li {
  margin-top: 1em;
}

h3.state {
  margin-bottom: 0;
}

h3.state + p {
  margin-top: 0;
}