@use '@irs/df-common/src/styles/uswds-theme' as *;

.banner {
  background-color: color('secondary-vivid');
  height: units(4);
  color: color('base-lightest');
  font-size: units(3);
  display: flex;
  align-items: center;
  justify-content: center;
}
