@use '@irs/df-common/src/styles/uswds-theme' as *;

.top-border {
  border-top: 0.25rem solid color('base');
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  background: none;
  border: none;
  padding-left: 0;
  vertical-align: top;
}

// Double selector for higher specificity
.indent.indent {
  padding-left: units('105');
}

.table > tbody > tr > th + td {
  padding-right: 0;
}
