@use '@irs/df-common/src/styles/uswds-theme' as *;

.checklist-category {
  & h2 {
    font-size: size($theme-body-font-family, $theme-h3-font-size);
  }

  & h3 {
    font-size: size($theme-body-font-family, 'md');
    font-weight: font-weight('bold');
    line-height: line-height($theme-body-font-family, 3);
  }
}

.subcategory-list {
  padding-top: units(1);
}
