<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
  <appender name="ConsoleJSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <thread>[ignore]</thread>
        <version>[ignore]</version>
        <levelValue>[ignore]</levelValue>
      </fieldNames>
      <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
      <timeZone>UTC</timeZone>
      <customFields>{"system":"DIRECTFILE","eventType":"API","version":"${GIT_COMMIT_HASH}"}</customFields>
      <!-- <throwableConverter class="gov.irs.directfile.audit.NoMessageStackTraceConverter" /> -->
      <jsonGeneratorDecorator
        class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="ConsoleJSON" />
  </root>
</configuration>
