@use '@irs/df-common/src/styles/uswds-theme' as *;

.usa-alert {
  margin-top: 2rem;
}

.collection-item-data-view {
  border-bottom: 2px solid color('base-lighter');
}

/*
We show zebra stripes (.draft-content) for new content that hasn't reached the end of the content batch lifecycleontent
Temporarily disabled for controlled launch. Ticket #13034
*/

/*
.draft-content {
  color: black;
  position: relative;

  &::before {
    content: '';
    display: block;
    left: units(-3);
    width: 0.625rem;
    background: magenta;
    background: repeating-linear-gradient(
      45deg,
      color('magenta-40v'),
      color('magenta-40v') 0.5rem,
      color('magenta-50v') 0.5rem,
      color('magenta-50v') 1rem
    );
    position: absolute;
    top: 0;
    height: 100%;
  }
}
*/
