@use '@irs/df-common/src/styles/uswds-theme' as *;

.collection-data-preview-item {
  padding: 0 units(2);
  margin-top: units(1);
  border-radius: radius($theme-input-tile-border-radius);
  border: units('2px') solid color('gray-20');

  :global {
    .usa-checkbox {
      background-color: transparent;
    }
  }
}

.collection-data-preview-item--checked {
  background-color: color('primary-lighter');
  border-color: color('primary');
}
