@forward 'uswds-core' with (
  $theme-image-path: '@uswds/uswds/img',
  $theme-font-path: '@uswds/uswds/fonts',
  $theme-show-compile-warnings: false,
  $theme-show-notifications: false,
  $theme-banner-background-color: 'ink',
  $theme-banner-link-color: 'primary-light',
  $theme-banner-max-width: 'widescreen',
  $theme-checkbox-border-radius: 'md',
  $theme-breadcrumb-min-width: 'card',
  $theme-font-weight-semibold: 600,
  $theme-font-role-heading: 'sans',
  $theme-h2-font-size: 10,
  $theme-h3-font-size: 8,
  $theme-summary-box-background-color: 'blue-5',
  $theme-summary-box-border-color: 'primary-lighter'
);
