@use '@irs/df-common/src/styles/uswds-theme' as *;

/* stylelint-disable selector-class-pattern */

@media not (prefers-reduced-motion) {
  // This fixes a bug in the USWDS React library that universally applies smooth scrolling
  html {
    scroll-behavior: auto;
  }

  // This is allows to toggle classes so that we don't need to rely on JS for scrolling behavior as much
  html.enable-smooth-scroll {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
}

#root,
body.screener {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content-wrapper {
  flex: 1;

  @include at-media('tablet') {
    background-color: color('base-lightest');
  }
}

.footer {
  margin-top: auto;
}

.df-label {
  font-weight: font-weight('bold');
}

li {
  margin-bottom: units(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
}

.gov-banner {
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
}

// field validations, except for legends of fieldsets who already have a margin
:not(.usa-form-group > .usa-fieldset) :not(legend).usa-label--error {
  margin-top: 1rem;
}

// Overrides pseudo content for Spanish content
html[lang='es-US'] .usa-link--external::before {
  content: 'Enlace externo.';
}

html[lang='es-US'] .usa-link--external[target='_blank']::before {
  content: 'Enlace externo, abre en una nueva pestaña.';
}

// For link colors
// Consider moving elsewhere if we need to handle link styling differently.
// Placing here keeps visited styling for content level links and eliminates need to override visited link styling everywhere.
.usa-prose {
  a {
    @include typeset-link;
  }

  .usa-modal__heading {
    @include u-font('sans', 'lg');
  }
}

// address field
.usa-textarea {
  resize: none;
  height: 4rem;
}

// Screen scaffolding
.screen {
  padding: units(3);
  max-width: 36rem;

  @include at-media('tablet') {
    @include u-radius('md');
    @include u-shadow(2);

    background-color: white;
    border: 1px solid color('base-lighter');
    margin-top: units(5);
    margin-bottom: units(5);
    overflow: hidden;
    padding: units(5) units(7);
  }

  @include at-media('tablet-lg') {
    max-width: 45rem;
  }

  h2,
  h3 {
    font-weight: font-weight('semibold');
    line-height: line-height($theme-body-font-family, 2);
  }

  .styled-state h4 {
    font-weight: 500;
    line-height: 1.25rem;
  }

  .coming-soon {
    border-color: rgb(151 212 234);
    border-width: 4px;
    border-style: solid;
    padding: 1rem;
  }

  .coming-soon .usa-tag {
    background-color: rgb(119 85 64);
    text-transform: none;
    font-weight: 700;
    color: white;
    padding: 0.5rem;
  }

  .styled-state .usa-alert__body {
    padding-bottom: 0.5rem;
  }

  h2 {
    font-size: size($theme-body-font-family, $theme-h2-font-size);
  }

  .savingsAndRetirement h2 {
    line-height: 1.75rem;
    font-size: 1.75rem;
    font-weight: 600;
  }

  .styled-state .usa-alert--info .usa-alert__body::before {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 2rem;
    mask: url('@uswds/uswds/img/usa-icons/send.svg') no-repeat center;
  }

  h3:not(.usa-accordion__heading) {
    font-size: size($theme-body-font-family, $theme-h3-font-size);
  }
}

.full-width-checkbox-wrapper {
  width: 100%;
  max-width: none;
  margin-top: 2rem;
}

.full-width-checkbox {
  display: block;
  width: 100%;
  max-width: none;

  .usa-checkbox__input {
    display: inline-block;
    width: auto;
  }

  .usa-checkbox__label {
    display: block !important;
    width: calc(100% - 1.5rem);
    max-width: none !important;
    margin: 0;
    padding-left: 2rem;
    white-space: normal;
    position: relative;
  }

  .usa-checkbox__label::before {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 0.25rem;
    content: ' ';
    display: block;
    left: 0;
    margin-left: 0.125rem;
    margin-top: 0.064rem;
    position: absolute;
    background: white;
    box-shadow: 0 0 0 0.125rem rgb(27 27 27);
  }
}

// Existing accordion styles
.full-width-accordion {
  width: 100%;

  .usa-accordion__content {
    width: 100%;
    max-width: none;

    p {
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
      max-width: none;
    }
  }
}

@media (width <= 40rem) {
  .mobile-center {
    margin-top: 1rem; /* Space above "No Thanks" */
    width: 100%; /* Full width on mobile */
    text-align: center; /* Center the link */
  }

  .usa-button-group {
    flex-direction: column; /* Stack vertically */
    align-items: center; /* Center items */
  }
}

.screen a:not(.usa-prose a, .usa-button) {
  @include typeset-link;

  &:visited {
    color: color($theme-link-color);
  }

  &:hover,
  &:active {
    color: color($theme-link-hover-color);
  }
}

.screen__breadcrumbs {
  @include u-radius('md');

  background-color: color('blue-5');
  margin-bottom: units(3);
  padding: units(1) units(2);

  @include at-media('tablet') {
    border-bottom: 1px solid color('primary-lighter');
    border-radius: 0;
    margin: units(-5) units(-7) units(3);
    padding: units(2) units(7);
  }
}

.screen-heading {
  font-weight: font-weight('semibold');
  text-wrap: balance;
  word-break: break-word;

  strong {
    white-space: nowrap;
  }
}

.screen-heading--large {
  font-size: size($theme-body-font-family, 13);

  [class*='context-heading'] + & {
    margin-top: units(1);
  }
}

.usa-button {
  line-height: line-height($theme-body-font-family, 2);
}

.screen__actions {
  margin: units(4) 0;

  @include at-media('tablet') {
    margin-bottom: units(-2);
  }

  .usa-button {
    margin-bottom: units(2);
  }

  + .screen__info {
    margin-top: units(4);
  }

  + .df-internal-link {
    display: inline-block;
    margin-top: units(2);
  }
}

.styled-state .usa-button {
  width: 100%;
}

// Override z-index on sesssion timeout modal
.usa-modal-wrapper[id='session-timeout'].is-visible {
  z-index: 999999;
}

.usa-alert__body > :first-child {
  margin-top: 0;

  & > p:first-child {
    margin-top: 0;
  }
}

.usa-alert__body > :last-child {
  margin-bottom: 0;
}

// Styles for accordions within alerts
.df-expandable-helper-text .usa-accordion__button {
  border: 1px solid black;
  background-color: white;
}

.df-expandable-helper-text > .usa-accordion__content {
  border: none;
  background-color: inherit;
  padding: 1rem 0 calc(1rem - 0.25rem) 0;
}

a.usa-button,
a.usa-button:hover,
a.usa-button:active,
a.usa-button:visited {
  color: color('white');
  text-decoration: none;
}

a.usa-button--outline,
a.usa-button--outline:visited {
  color: color('primary');
}

a.usa-button--outline:hover {
  color: color('primary-dark');
}

a.usa-button--outline:active {
  color: color('primary-darker');
}

@media (width >= 30rem) {
  .usa-form.survey-modal-form {
    max-width: none !important; // Override 20rem for the entire form
  }

  // Ensure the email input stays at 20rem
  .usa-form.survey-modal-form .usa-form-group .usa-input {
    max-width: 20rem;
  }
}
