@use '@irs/df-common/src/styles/uswds-theme' as *;

.header-row {
  display: flex;
  align-items: center;
  margin-bottom: units(2);

  :global {
    .usa-icon {
      flex-shrink: 0;
      margin: 0 units(1) 0 0;
    }
  }
}

.body-row {
  display: flex;

  .spacer {
    flex-shrink: 0;
    margin: 0 units(1) 0 0;
    width: units(3);
    height: units(3);
  }
}

.df-collection-item {
  :global {
    .usa-card__body {
      padding-bottom: 0;

      ul {
        list-style: none;
        padding-left: 0;
      }

      li {
        margin-bottom: units(2);
        line-height: line-height($theme-body-font-family, 3);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .usa-card__footer {
      padding-bottom: units(2);
      padding-top: 0;
    }

    .usa-card__footer .df-alt-action {
      display: flex;
      justify-content: flex-end;
    }

    .usa-card {
      margin-bottom: units(2);
    }

    .usa-alert {
      margin-bottom: units(2);
    }
  }
}
