@use '@irs/df-common/src/styles/uswds-theme' as *;

@include at-media('mobile-lg') {
  .usa-identifier__container {
    display: flex;
    align-items: center;
  }

  .usa-identifier__identity {
    margin-top: 0;
  }

  .usa-identifier__required-links-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
