<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
  <appender name="ConsoleJSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">

      <fieldNames>
        <timestamp>timestamp</timestamp>
        <version>[ignore]</version>
        <levelValue>[ignore]</levelValue>
      </fieldNames>
      <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</timestampPattern>
      <timeZone>UTC</timeZone>
      <customFields>{"system":"DIRECTFILE","version":"${GIT_COMMIT_HASH}"}</customFields>

            <!-- Only include the following fields from the Mapped Diagnostic Context (MDC). -->
            <!-- Other MDC fields will be excluded. -->

      <includeMdcKeyName>eventId</includeMdcKeyName>
      <includeMdcKeyName>eventStatus</includeMdcKeyName>
      <includeMdcKeyName>eventType</includeMdcKeyName>
      <includeMdcKeyName>eventErrorMessage</includeMdcKeyName>
      <includeMdcKeyName>responseStatusCode</includeMdcKeyName>
      <includeMdcKeyName>system</includeMdcKeyName>
      <includeMdcKeyName>taxPeriod</includeMdcKeyName>
      <includeMdcKeyName>taxReturnType</includeMdcKeyName>
      <includeMdcKeyName>stateId</includeMdcKeyName>
      <includeMdcKeyName>userType</includeMdcKeyName>
      <includeMdcKeyName>cyberOnly</includeMdcKeyName>
      <includeMdcKeyName>taxReturnId</includeMdcKeyName>
      <includeMdcKeyName>detail</includeMdcKeyName>

      <throwableConverter class="gov.irs.directfile.stateapi.audit.NoMessageStackTraceConverter" />
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="ConsoleJSON" />
  </root>
</configuration>
