@use '@irs/df-common/src/styles/uswds-theme' as *;

.incomplete-data-view-section {
  padding-top: units(4);
}

.data-view-section {
  border-top: 2px solid color('base-lighter');
  margin-top: units(4);
  padding: units(4) 0;

  & + .data-view-section {
    margin-top: 0;
  }
}

.data-view-section:not(:has(~ .data-view-section)) {
  padding-bottom: 0;
}

.data-view-section:not(:has(~ .nested-section-header)) {
  margin-top: units(4);
}

.nested-section-header a {
  @include at-media('mobile') {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.nested-section-heading {
  font-size: size('body', 10);
  margin: 0;
  margin-bottom: units(1);
}

.data-view-items {
  list-style: none;
  margin: 0;
  padding: units(1) 0 0;
}

.data-view-item {
  margin: 0;
  max-width: measure(2);
  padding-top: units(1);
}
