@use '@irs/df-common/src/styles/uswds-theme' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-view-alert {
  margin-top: units(4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: units(4);
  width: 100%;
}

.alert-text {
  margin-left: units(2);
}

.alert-button {
  margin-left: units(2);
  width: 90%;
}

.button-container {
  display: flex;
  width: 100%;
  border-top: 2px solid color('base-lighter');
  margin-top: units(4);
}

.button-container-no-border {
  display: flex;
  width: 100%;
}

.nav-button {
  margin-top: units(4);
  margin-right: 0;
  width: 100%;
}

@media (width >= 48rem) {
  .data-view-alert {
    width: 70%;
  }

  .button-container {
    width: 70%;
  }

  .button-container-no-border {
    width: 70%;
  }
}
