@use '@irs/df-common/src/styles/uswds-theme' as *;

// set the background color for all possible children, such as modals and accordions
:global {
  .usa-alert * {
    background-color: inherit;

    .usa-accordion h2 {
      font-size: unset;
    }
  }

  .usa-alert__heading {
    background-color: transparent;
  }

  .usa-alert__heading:has(strong) {
    font-weight: font-weight('semibold');
  }
}
