{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "bracketSameLine": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "singleQuote": false,
        "proseWrap": "always"
      }
    }
  ]
}
