@use '@irs/df-common/src/styles/uswds-theme' as *;

// mimic h3 base styles
.description-term {
  font-size: 1.17em; /* stylelint-disable-line unit-disallowed-list */
  font-weight: bold;
  margin-block: 1em; /* stylelint-disable-line unit-disallowed-list */
}

.description-definition {
  margin-left: 0;
  margin-bottom: units(2);
}
