spring:
  datasource:
    url: jdbc:postgresql://mef-apps-db:5432/directfile-submit

submit:
  toolkit: /mef-client-sdk-src
  directories:
    input: /mef-data/run/input/
    to-process: /mef-data/run/toprocess/
    processed: /mef-data/run/processed/
    batched: /mef-data/run/batched/
    to-batch: /mef-data/run/tobatch/
    submitted: /mef-data/run/submitted/
  intervals:
    returns-to-process: 120000
  messagequeue:
    endpoint: http://localstack:4566
  sns:
    endpoint: http://localstack:4566
  submissionid:
    variable-chars: ${SUBMIT_ID_VAR_CHARS:do}
  batching:
    batchSize: ${SUBMIT_APP_BATCH_SIZE:100}
    errorPollingMilliseconds: ${SUBMIT_APP_ERROR_POLLING_MILLIS:60000} # 1000 milliseconds * 60  = 60 seconds
  mef:
    healthCheckMilliseconds: ${SUBMIT_APP_MEF_HEALTHCHECK_MILLIS:300000} # 1000 milliseconds * 60 seconds * 5 minutes -> 5 minutes

# these defaults are to match the backend (update/remove once we're fully onto sqs)
direct-file:
  local-encryption:
    local-wrapping-key: ${LOCAL_WRAPPING_KEY:oE3Pm+fr1I+YbX2ZxEe/n9INqJjy00KSl7oXXW4p5Xw=}
