@use '@irs/df-common/src/styles/uswds-theme' as *;

.df-download-button-wrapper {
  border-bottom: 2px solid color('base-lighter');
  margin-top: units(2);
  padding-bottom: units(4);
}

.df-front-page-button-wrapper {
  margin-top: units(2);
}
