/* stylelint-disable unit-disallowed-list */
/* stylelint-disable no-descending-specificity */

@use '@irs/df-common/src/styles/uswds-theme' as *;

@media print {
  .screen-container {
    overflow: visible !important;
    height: auto !important;
    margin-bottom: units(8);
    break-inside: avoid;
    width: 100% !important;
    break-after: always;
  }

  .main-screen {
    display: block !important;
    overflow: visible !important;
  }

  .flyout-menu {
    display: none;
  }

  .main-content {
    height: auto !important;
  }

  .screen-outer-container {
    break-after: always;
    break-inside: avoid;
  }

  .subcontent-container {
    display: block !important;
    overflow: visible !important;
    flex-wrap: wrap;
  }

  :global {
    body {
      overflow: visible !important;
    }

    td {
      overflow-wrap: break-word;
    }

    .usa-table {
      table-layout: fixed;
    }

    .screens-container {
      break-after: always;
    }

    [class*='big-content'] {
      max-width: 100%;
    }
  }
}

:global {
  body {
    overflow: hidden;
  }
}

.all-screens-header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid color('base');
  display: flex;
  justify-content: space-between;
  padding: units(3);
  width: 100%;

  h1 {
    margin: 0;
  }

  div {
    align-items: center;
    display: flex;
  }

  select {
    max-width: 300px;
  }
}

.menu-button {
  appearance: none;
  background: none;
  border: none;
  color: color('base');
  cursor: pointer;
  margin: units(0.5) units(1.5) 0 units(-1.5);
  padding: units(1);
}

.flyout-menu {
  background: white;
  border-right: units('1px') solid color('base');

  // 91.66px is the calculated height of the header
  height: calc(100vh - 91.66px);
  overflow: scroll;
  padding: units(3);

  :global {
    .usa-language-container {
      justify-content: flex-start;
    }
  }
}

.flyout-menu--hidden {
  display: none;
}

.flyout-menu__section {
  margin: units(2) 0;
  border-bottom: units('1px') solid color('base-lighter');
  padding-bottom: units(2);

  h2,
  legend {
    font-size: font-size('body', 'sm');
    font-weight: font-weight('semibold');
  }

  :global {
    .usa-button {
      font-size: font-size('body', '3xs');
    }
  }
}

.main-screen {
  background-color: color('base-lightest');
  display: grid;
  grid-template-columns: 1fr 4fr;

  &:has(.flyout-menu--hidden) {
    grid-template-columns: 1fr;
  }
}

.main-content {
  // 91.66px is the calculated height of the header
  height: calc(100vh - 91.66px);
  overflow: scroll;
  padding: units(3);
  width: 100%;
}

.screen-container {
  @include u-shadow(2);

  // These are set to approximate a phone, not be useful in a browser
  background: white;
  border-radius: 0 0 units('05') units('05');
  color: color('base-darkest') !important;
  height: 43.75rem;
  width: 23.75rem;
  border: units('1px') solid color('base-lighter');
  border-top: none;
  padding: units(4);
  flex-shrink: 0;
  overflow: auto;
}

.main-screen:has(.flyout-menu--hidden) .screen-container {
  width: 27.5rem;
}

.subcontent-container {
  display: flex;
  width: 100%;
  overflow: auto;
  outline: none !important;
  padding-bottom: units(2);
}

.dataview-header {
  color: color('primary-darker');

  h3 {
    color: color('primary-darker');
    margin-block: units(0);
  }
}

.dataview-container {
  li strong {
    margin: units(0);
  }

  li {
    padding: units(0);
  }

  li span {
    display: none;
  }

  :global {
    .dataview-section h3 {
      font-size: size($theme-body-font-family, $theme-h3-font-size);
      font-weight: font-weight('semibold');
    }

    .dataview-section h2 {
      font-size: size($theme-body-font-family, $theme-h2-font-size);
      font-weight: font-weight('semibold');
    }
  }
}

.screen-route {
  color: color('primary-darker');
  display: inline-block;
  font-family: font-family('mono');
  font-size: font-size('mono', '2xs');
  padding: units(1) 0;
}

.screen-outer-container {
  padding: 0 units(2);

  &:first-child {
    .subcontent-container & {
      padding-left: 0;
    }
  }

  &:last-child {
    .subcontent-container & {
      padding-right: 0;
    }
  }
}

.screen-header {
  background-color: color('blue-5');
  border: units('1px') solid color('base-lighter');
  border-bottom: units('1px') solid color('primary-lighter');
  border-radius: units('05') units('05') 0 0;

  :global(.usa-accordion__button) {
    background-color: color('blue-5');
    user-select: text;

    h4 {
      margin: units('05') 0;
    }
  }

  &--locked {
    background-color: color('red-10');
    border: units('1px') solid color('red-60');
    border-bottom: units('1px') solid color('red-60');

    :global(.usa-accordion__button) {
      background-color: color('red-10');
    }
  }
}

.screen-header__content {
  :global(.usa-accordion__button) {
    background-color: color('base-lighter');
  }
}

.gate-wrapper {
  border-top: 0.125rem solid;
  margin: 0 0 0 units(2);
  padding: units(1) 0;

  .gate-wrapper {
    color: color('orange-warm-70v');
    border-top-style: dashed;

    .gate-wrapper {
      color: color('green-50');
      border-top-style: dotted;

      .gate-wrapper {
        color: color('blue-warm-60');
        border-top-style: solid;

        .gate-wrapper {
          color: color('violet-warm-60');
          border-top-style: dashed;

          .gate-wrapper {
            color: color('magenta-60v');
            border-top-style: dotted;

            .gate-wrapper {
              color: color('green-60v');
              border-top-style: solid;

              .gate-wrapper {
                color: color('cyan-60v');
                border-top-style: dashed;

                .gate-wrapper {
                  color: color('indigo-warm-70v');
                  border-top-style: dotted;
                }
              }
            }
          }
        }
      }
    }
  }

  + .gate-wrapper {
    margin-left: units(4);
  }

  + .screen-outer-container {
    margin-left: units(2);
  }
}

.gate-name {
  left: 0;
  overflow-wrap: break-word;
  position: sticky;
  display: inline-block;
  padding-bottom: units(1);
  width: 23.75rem;

  &:focus-within {
    z-index: 200;
  }

  &:hover {
    z-index: 300;
  }

  :global {
    .usa-tooltip__trigger {
      display: block;
    }
  }
}

.main-screen:has(.flyout-menu--hidden) .gate-name {
  width: 27.5rem;
}

.csv-area {
  width: 100%;
  height: 60vh;
  padding: 2rem;
  margin: 3rem 0;
}

.buttons {
  margin-left: 3rem;
}

.show-full-heights {
  .subcontent-container {
    overflow: visible !important;
    flex-wrap: wrap;
  }

  .screen-container {
    overflow: visible !important;
    height: auto !important;
    margin-bottom: units(8);
    flex: 2;
  }
}

.modal-container {
  display: flex;
  gap: units(2.5);
}

.modals {
  flex: 1;
  min-width: 21.875rem;
}

.individual-modal {
  color: black;
  background-color: color('white');
  border: units('1px') solid color('base-lighter');
  border-bottom: units('1px') solid color('primary-lighter');
  border-radius: units('05') units('05') 0 0;
  padding: units(1) units(2);
  margin: units(1) 0;
}

/* stylelint-disable-next-line */
:global {
  /* Hide the touchpoints modal because it is causing a display 
   error with the all screen header */
  .fba-modal {
    display: none !important;
  }

  /* 
    These selectors are for the CircleCI artifact of AllScreens, 
    which as a static HTML page, can be converted to PDF. Some styles
    need overrides so that we create the page as a large canvas. 
  */
  html.prep-for-pdf {
    // With all sizing using relative rems, setting the root font
    // size to 4px makes a smaller document, which prevents the
    // html to pdf service from crashing
    font-size: 4px !important;

    body {
      overflow: visible !important;
      overflow-x: visible !important;
      background-color: color('base-lightest');
    }

    main {
      height: 100% !important;
      overflow: visible !important;
    }

    [class*='subcontent-container'] {
      overflow: visible !important;
    }

    /*
    [class*='draft-content'] {
      position: static !important;
    }
    */

    .usa-accordion__button .usa-tag {
      display: none !important;
    }
  }
}
