<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internal Revenue Service</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <table role="presentation" class="layout">
      <tr>
        <td>
          <table role="presentation" class="header">
            <tr>
              <td>
                <img src="cid:Logo" width="104" height="35" alt="IRS Logo" />
              </td>
              <td>
                <span>Direct File</span>
              </td>
            </tr>
          </table>
          <table role="presentation" class="body">
            <tr>
              <td>
                <h1>Your 2024 federal tax return was rejected by the IRS</h1>
                <h2>What's next?</h2>
                <p>
                  Sign in to Direct File to review your rejected return and
                  learn what to do next. 
                </p>
              </td>
            </tr>
            <tr>
              <td class="button-row">
                <a class="button" href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=rejected">
                  <span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sign in to Direct File
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  The deadline to resubmit your federal taxes with Direct File
                  is April 20, 2024 at 11:59 PM in your timezone. After April
                  20, you'll need to
                  <a href="https://www.irs.gov/filing/e-file-options"
                    >find another way to file your taxes.</a
                  >
                </p>
                <h2>Don't forget about state taxes and credits</h2>
                <p>
                  Depending on your situation, you may have to file a state tax
                  return in addition to a federal tax return. You may also be
                  eligible for state tax credits.
                  <a href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=rejected&utm_id=directfile"
                    >Sign in to Direct File</a
                  >
                  to learn more.
                </p>
                <h2>Need help?</h2>
                <p>
                  <a href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=rejected&utm_id=directfile"
                    >Sign in to Direct File</a
                  >
                  to chat online with customer support (available through April
                  20).
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
