<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internal Revenue Service</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <table role="presentation" class="layout">
      <tr>
        <td>
          <table role="presentation" class="header">
            <tr>
              <td>
                <img src="cid:Logo" width="104" height="35" alt="IRS Logo" />
              </td>
              <td>
                <span>Direct File</span>
              </td>
            </tr>
          </table>
          <table role="presentation" class="body">
            <tr>
              <td>
                <h1>Don't forget to file your 2024 state taxes</h1>
                <p>
                  If you haven't already filed state taxes, remember to file by
                  April 15, 2024 (or April 17 for Massachusetts residents).
                </p>
                <h2>How to file your state taxes</h2>
                <h3 class="state">Arizona</h3>

                <p>
                  <a
                    href="https://www.fileyourstatetaxes.org/en/az/questions/landing-page?ref_location=email"

                    >Visit Arizona's FileYourStateTaxes website</a
                  >
                  to transfer your federal tax return data and file your state
                  taxes by April 15, 2024.
                </p>

                <h3 class="state">California</h3>
                <p>
                  <a
                    href="https://www.ftb.ca.gov/file/ways-to-file/online/calfile/index.asp?WT.mc_id=IRS_DFP&ref_location=email"
                    >Visit California's CalFile website</a
                  >
                  to file your state taxes by April 15, 2024.
                </p>

                <h3 class="state">Massachusetts</h3>
                <p>
                  <a
                    href="https://mtc.dor.state.ma.us/mtc/?Link=DIRFILE&ref_location=email"
                    >Visit Massachusetts' MassTaxConnect website</a
                  >
                  to transfer your federal tax return data and file your state
                  taxes by April 17, 2024.
                </p>

                <h3 class="state">New York</h3>
                <p>
                  <a
                    href="https://www.fileyourstatetaxes.org/en/ny/questions/landing-page?ref_location=email"
                    >Visit New York's FileYourStateTaxes website</a
                  >
                  to transfer your federal tax return data and file your state
                  taxes by April 15, 2024.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
