<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Internal Revenue Service</title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <table role="presentation" class="layout">
      <tr>
        <td>
          <table role="presentation" class="header">
            <tr>
              <td>
                <img src="cid:Logo" width="104" height="35" alt="IRS Logo" />
              </td>
              <td>
                <span>Direct File</span>
              </td>
            </tr>
          </table>
          <table role="presentation" class="body">
            <tr>
              <td>
                <h1>Your 2024 federal tax return is submitted</h1>
                <h2>What's next?</h2>
                <p>
                  You'll get an email from Direct File once your federal tax
                  return has been accepted or rejected&mdash;which may take up
                  to an hour.
                </p>
                <ul>
                  <li>
                    If your federal tax return is <strong>accepted</strong>,
                    you'll receive instructions to pay your tax balance or check
                    the status of your tax refund
                  </li>
                  <li>
                    If your federal tax return is <strong>rejected</strong>,
                    you'll receive instructions to fix your tax return and
                    resubmit or find other ways to file your taxes
                  </li>
                </ul>
                <p>
                  For help, sign in to Direct File and chat online with customer
                  support (available through April 20).
                </p>
              </td>
            </tr>
            <tr>
              <td class="button-row">
                <a class="button" href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=submitted&utm_id=directfile">
                  <span
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sign in to Direct File
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </span>
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <h2>Don't forget about state taxes and credits</h2>
                <p>
                  Depending on your situation, you may have to file a state tax
                  return in addition to a federal tax return. You may also be
                  eligible for state tax credits. 
                  <a href="https://directfile.irs.gov?utm_source=directfile_system&utm_medium=email&utm_campaign=submitted&utm_id=directfile"
                    >Sign in to Direct File</a
                  >
                  to learn more.
                </p>
                <p>
                  <strong
                    >The state tax filing deadline is April 15 at 11:59 PM in
                    your timezone (or April 17 at 11:59 PM for Massachusetts
                    residents).</strong
                  >
                </p>
                <p>
                  Even if the deadline has passed, you should still file your
                  state taxes as soon as possible to avoid penalties.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
