@use '@irs/df-common/src/styles/uswds-theme' as *;

.df-logo-wrapper {
  display: flex;
  font-weight: font-weight('bold');
  margin: 0;
  align-items: center;
}

.df-home-link {
  margin-right: units(1);
}

.irs-logo {
  box-sizing: unset;
  height: units(3);

  @include at-media('desktop') {
    height: units(6);
  }
}

.df-header {
  :global {
    .usa-logo__text {
      display: flex;
      align-items: center;
    }

    @include at-media($theme-header-min-width) {
      .usa-nav .usa-language-container {
        width: auto;
        margin-bottom: units(0);
      }

      .usa-logo {
        margin: units('05') 0;
      }

      .usa-nav__primary > .usa-nav__primary-item > .usa-nav__link {
        color: color('base-darker');
        font-size: font-size('body', 'md');
        padding-top: units(1.5);
      }
    }

    @include at-media-max($theme-header-min-width) {
      .usa-nav .usa-language-container {
        justify-content: center;
        width: 100%;
      }
    }

    @include at-media('tablet') {
      border-bottom: 1px solid color('base-lighter');
    }

    .usa-nav-container .usa-nav .usa-language-container {
      position: static;
      align-self: flex-start;
      line-height: line-height('body', 1);
      margin: units(0.5) 0;

      @include at-media($theme-header-min-width) {
        margin: 0 units(1) 0 0;
      }
    }
  }
}
