HELP.md
/src/main/resources/application-local.yaml
target/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/resources/certs/
*.jar
/src/main/resources/spotbugs/output/spotbugs.xml
src/main/java/META-INF

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### docker-related ###
/docker/db/postgres/data

### Gradle ###
.gradle/

end-to-end-result*

### XML Related ###
/src/main/java/gov/irs/directfile/api/xmlgeneration/xml